html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(212, 212, 212);
}
canvas {
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin-left: 30vh;
  margin-top: 5vh;
  border: 3px solid black;
}
